.blog {
	&__breadcrumbs {
		margin-bottom: 60px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__posts {
		max-width: 730px;
	}

	&__post-img {
		margin-bottom: 25px;
	}

	&__post-links {
		margin-bottom: 10px;

		font-weight: 600;
		font-size: 14px;
		color: $color-social;
	}

	&__link-text {
		position: relative;

		color: inherit;

		&:hover:before {
			position: absolute;
			bottom: 0px;
			left: 0;

			content: "";
			width: 100%;
			height: 1px;

			background-color: rgba(54, 56, 56, 0.5);
		}
	}

	&__link-title {
		display: block;
		margin-bottom: 8px;
	}

	&__post-title {
		@extend %title;
		font-size: 24px;
		line-height: 38px;
	}

	&__post {
		margin-bottom: 90px;
	}

	&__blockquote {
		min-height: 250px;
		margin-bottom: 50px;
		padding: 20px;

		background-color: rgba(#dfdfdf, 0.5);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__blockquote-cite {
		margin-bottom: 50px;
		max-width: 600px;

		text-align: center;
		font: italic 300 24px/38px $text-font;

		position: relative;

		&::after {
			@include line(200px);
			bottom: -25px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	&__blockquote-author {
		@extend %title;
	}

	&__post-video {
		height: 415px;
		width: 100%;
		margin-bottom: 25px;

		display: flex;
		justify-content: center;
		align-items: center;

		background: center / cover no-repeat url("../img/blog/blog-img2.jpg");
	}

	&__post-slider {
		position: relative;
	}
}

.pagination {
	margin-bottom: 60px;

	display: flex;
	justify-content: center;

	&__list {
		display: flex;
	}

	&__list-num {
		font-weight: 600;
		font-size: 14px;
		color: $color-social;
	}

	&__item {
		margin: 0 6px;
	}

	&__list-num--active {
		color: $color-primary;
	}

	&__link {
		margin: 0 6px;
	}

	&__link--disable {
		opacity: 0;
		pointer-events: none;
	}
}

.blog-post {
	&__post-title {
		@extend %title;
		font-size: 28px;
		line-height: 38px;
	}

	&__blockquote {
		margin-bottom: 30px;
		padding: 0 42px;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__blockquote-cite {
		margin-bottom: 50px;
		max-width: 650px;

		font: italic 300 24px/38px $text-font;

		position: relative;

		&::after {
			@include line(200px);
			bottom: -25px;
			left: 0;
		}
	}

	&__blockquote-author {
		@extend %title;
	}

	&__post-text {
		margin-bottom: 40px;
	}

	&__post {
		max-width: 730px;
	}
}

/* MEDIA
============================ */

@media (max-width: 1040px) {
	.blog__content {
		flex-direction: column-reverse;
	}

	.blog__posts {
		max-width: 100%;
	}

	.blog__posts picture,
	.blog__post-img {
		width: 100%;
		max-height: 415px;
		object-fit: cover;
	}

	.blog__post-img-slider {
		width: 100%;
		max-height: 415px;
	}

	.blog__post-title,
	.blog-post__post-title {
		font-size: 20px;
		line-height: 30px;
	}

	.blog-post__post {
		max-width: 100%;
	}

	.blog-post__blockquote-cite {
		max-width: 100%;
	}

	.blog__post-img,
	.blog-post__post picture {
		max-width: 100%;
		width: 100%;
		object-fit: cover;
	}
}

@media (max-width: 540px) {
	.blog__post-video {
		height: 300px;
	}

	.blog__blockquote-cite,
	.blog-post__blockquote-cite {
		font-size: 20px;
		line-height: 30px;
	}

	.blog-post__blockquote {
		padding: 0;
	}

	.blog__blockquote {
		min-height: 200px;
	}

	.blog__post {
		margin-bottom: 50px;
	}
}

@media (max-width: 375px) {
	.blog__post-video {
		height: 200px;
	}
}
