.footer {
	&__content {
		padding: 60px 0px 80px;

		background: #dfdfdf;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__contacts {
		width: 540px;
	}

	&__contacts-title {
		@extend %title;
		margin-bottom: 15px;
	}

	&__contacts-text {
		max-width: 480px;
		margin-bottom: 15px;
	}

	&__contacts-link {
		display: inline-block;
		margin-bottom: 22px;
		padding-left: 30px;

		font-weight: 600;
		color: $color-primary;

		position: relative;

		&::before {
			content: "";
			width: 16px;
			height: 16px;

			position: absolute;
			left: 0px;
			top: 6px;

			background: center / contain no-repeat url("../img/envelope.svg");
		}
	}

	&__form {
		width: 100%;

		display: flex;
	}

	&__form-input {
		width: 100%;
		padding: 8px 17px;

		border: 1px solid $color-primary;
		border-radius: 20px;

		&::placeholder {
			color: #a1a1a1;
		}
	}

	&__form-btn {
		padding: 8px 0;
		width: 160px;
		margin-left: 10px;

		background: $color-primary;
		color: #fffff0;

		border-radius: 20px;
	}

	&__social-list {
		width: 125px;
		margin-left: 100px;
		margin-right: auto;
	}

	&__social-item,
	&__menu-item {
		margin-bottom: 15px;
	}

	&__social-item {
		transition: all 0.2s ease;

		&:hover {
			transform: scale(1.1) translateX(7px);
		}
	}

	&__social-link {
		padding-left: 28px;

		position: relative;

		&::before {
			content: "";
			width: 16px;
			height: 16px;

			position: absolute;
			left: 0px;
			top: 2px;
		}

		&--facebook::before {
			background: center / contain no-repeat url("../img/social/facebook.svg");
		}

		&--instagram::before {
			background: center / contain no-repeat url("../img/social/instagram.svg");
		}

		&--pinterest::before {
			background: center / contain no-repeat url("../img/social/pinterest.svg");
		}

		&--whatsapp::before {
			background: center / contain no-repeat url("../img/social/whatsapp.svg");
		}

		&--youtube::before {
			background: center / contain no-repeat url("../img/social/youtube.svg");
		}
	}

	&__social-link,
	&__menu-link {
		font-size: 14px;
		font-weight: 600;
		color: $color-social;
	}

	&__menu-link {
		position: relative;

		&:hover:after {
			position: absolute;
			bottom: 0;
			left: 0;

			content: "";
			width: 100%;
			height: 1px;

			background-color: rgba(54, 56, 56, 0.5);
		}
	}

	&__menu {
		margin-right: 60px;
		width: 125px;
	}

	&__copyright {
		text-align: center;
		padding: 40px 0px;

		background: $color-primary;
		color: #a1a1a1;
	}
}

@media (max-width: 992px) {
	.footer__contacts {
		max-width: 400px;
	}

	.footer__social-list {
		margin-left: auto;
	}

	.footer__menu {
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.footer__contacts {
		width: 100%;
		max-width: none;
		margin-bottom: 40px;
	}

	.footer__content-inner {
		flex-wrap: wrap;
	}

	.footer__contacts-text {
		max-width: 100%;
	}

	.footer__menu {
		margin-left: auto;
	}
}

@media (max-width: 480px) {
	.footer__social-list,
	.footer__menu {
		margin-left: 0;
	}

	.footer__content {
		padding: 40px 0;
	}

	.footer__form {
		flex-direction: column;
	}

	.footer__form-input {
		margin-bottom: 20px;
	}

	.footer__form-btn {
		margin: 0 auto;
	}
}
