body {
	min-height: 100%;
	min-width: 290px;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;

	font: 16px/27px $text-font, sans-serif;
	color: $color-text;
}

main {
	flex-grow: 1;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 30px;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		margin: 0 15px;

		&.slick-active {
			button {
				background-color: #ffef35;
			}
		}
	}

	button {
		width: 8px;
		height: 8px;

		background-color: $color-primary;
		border-radius: 50%;

		font-size: 0;
	}
}

.slick-arrow {
	height: 17px;
	width: 10px;

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
}

.slick-arrow--prev {
	left: 16px;
	background: center / cover no-repeat url("../img/slider-arrow-prev.png");
}

.slick-arrow--next {
	right: 16px;
	background: center / cover no-repeat url("../img/slider-arrow-next.png");
}

@media (max-width: 540px) {
	.slick-dots {
		& li {
			margin: 0 6px;
		}
	}
}